body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.left-pane, .right-pane {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
 
  .left-pane {
    flex: 1;
    background-color: #f0f0f0; /* Màu nền cho phần bên trái */
    padding: 20px;
  }
  
  .right-pane {
    flex: 1;
    background-color: #e0e0e0; /* Màu nền cho phần bên phải */
    padding: 20px;
  }
  
  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Đảm bảo kích thước input chứa cả padding và border */
  }
  
  .address-selects {
    display: flex;
  }
  
  .address-selects select {
    flex: 1; /* Dãn toàn bộ không gian có sẵn */
    margin-right: 10px; /* Khoảng cách giữa các select */
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
.product-list {
    flex: 1;
    padding: 20px;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.product-info h3,
.product-info p {
    margin: 0;
    font-size: 15px;
}

.product-info p:last-child {
    margin-left: auto; /* Di chuyển phần giá tiền sang bên phải */
}

.coupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.coupon input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
}
.coupon button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
.coupon button:hover {
  background-color: #45a049;
}
.summary-info {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden; 
}

.summary-info p {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden; 
}

.summary-info span {
  font-weight: bold;
  color: #333;
  float: right; 
}

.summary-info .total-section {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
}
.shipping-fee {
  padding: 5px 0;
}
